@page "/reports/{GameMode}"
@inject HttpClient Http

<div>
    @if (GameMode == "normal")
    {
        <h4>Normal Games</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Pairs</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in NormalGames!)
                {
                    <tr>
                        <td>@game.Date.ToShortDateString()</td>
                        <td>@(GameDifficultyExtensions.GetCardsNumber(game.GameDifficulty))</td>
                        <td>@game.Duration.ToString(@"hh\:mm\:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (GameMode == "moves")
    {
        <h4>Moves Games</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Moves</th>
                    <th>Moves Limit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in MovesGames!)
                {
                    <tr>
                        <td>@game.Date.ToShortDateString()</td>
                        <td>@game.Score</td>
                        <td>@(game.MovesLimit - game.Moves)</td>
                        <td>@game.MovesLimit</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (GameMode == "racetime")
    {
        <h4>Race Time</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Score</th>
                    <th>Time</th>
                    <th>Time Limit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in RaceTimeGames!)
                {
                    <tr>
                        <td>@game.Date.ToShortDateString()</td>
                        <td>@game.Score</td>
                        <td>@game.Duration.ToString(@"hh\:mm\:ss")</td>
                        <td>@($"00:0{game.TimeLimit}:00")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public string? GameMode { get; set; }
    private List<NormalGame>? NormalGames = new List<NormalGame>();
    private List<RaceGame>? RaceTimeGames = new List<RaceGame>();
    private List<MovesGame>? MovesGames = new List<MovesGame>();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(GameMode);
        if (GameMode == "normal")
        {
            NormalGames = await Http.GetFromJsonAsync<List<NormalGame>>("https://localhost:7275/api/NormalGame");
            NormalGames = NormalGames?.OrderByDescending(x => x.Date).ToList();
        }
        else if (GameMode == "racetime")
        {
            RaceTimeGames = await Http.GetFromJsonAsync<List<RaceGame>>("https://localhost:7275/api/RaceGame");
            RaceTimeGames = RaceTimeGames?.OrderByDescending(x => x.Date).ToList();
        }
        else if (GameMode == "moves")
        {
            MovesGames = await Http.GetFromJsonAsync<List<MovesGame>>("https://localhost:7275/api/MovesGame");
            MovesGames = MovesGames?.OrderByDescending(x => x.Date).ToList();
        }

    }
}
